version: '2'

services:
    nginx:
        build: 
            context: .
            dockerfile: nginx-1.11.3-alpine.dockerfile
        image: nginx:1.11.3-alpine
        volumes:
            - ./html:/var/www/html:ro
            - ./nginx/conf/nginx.conf:/etc/nginx/nginx.conf:ro
            - ./nginx/conf.d:/etc/nginx/conf.d:ro
        ports:
            - 80:80
            - 443:443
        links:
            - php
    
    php:
        build: 
            context: .
            dockerfile: wordpress-4.6-alpine.dockerfile
        image: wordpress:4.6-alpine
        volumes:
            - ./html/wordpress01:/var/www/html
        links:
            - db
        env_file:
            - ./wordpress.config.env
    
    db:
        image: mariadb:10.1.16
        volumes:
            - /var/lib/mysql:/var/lib/mysql
        env_file:
            - ./mariadb.config.env
